### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### OSX template
.DS_Store
.AppleDouble
.LSOverride

### Gradle
build
.gradle

### Intellij
*.iml
.idea
*.ipr
*.iws

### Eclipse
.project
.settings
.classpath

### Temporary files
*.orig
**/bin
*.tmp
*~
out

.vscode
